<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


@{
    <h2>ViewBag.Title.</h2>
    <h3>ViewBag.Message</h3>

    

    ViewBag.Title = "About";

    int[] numbers = new int[5];
     
    for (int i = 0; i < numbers.Length; i++)
    {
        i = i + 1;
    }

    int[] num = { 22, 3, 4, 5, 6 };
    //var myChart = new Chart(width: 600, height: 400)
    Chart myChart = new Chart(width: 600, height: 400)

        .AddTitle("Histogram of Daily Totals ")
        .AddSeries(

        name: "Employee",

        chartType: "Line",
        //: new[] { "Gary", "John", "TTG'S", "Stephen", "Clifford" },
        
            xValue: new[] { "Day 1", "Day 2", "Day 3", "Day 4", "Day 5" },
            //yValues: new[] { "2", "6", "4", "5", "3" }
            yValues: num)
        .Write();
        @Html.ActionLink("Back to Referee", "Index")

}

Use this area to provide additional information
<p>@Html.ActionLink("<< Home", "Index", "Home") | @Html.ActionLink("Back to Referee", "Index")</p>
<p>@Html.ActionLink("<< Home", "Index", "Home") | @Html.ActionLink("Back to Referee", "Index")</p>