@model ShadyPines.Models.MedicalQuestion

@{

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <ul class="breadcrumb">
        <li> @Html.ActionLink("Home", "Index", "Home")</li>

        <li> @Html.ActionLink("Resident List", "Index", "Patients")</li>

        <li class="active">Compile Report</li>

        <li>@ViewBag.name</li>
    </ul>
    <div class="form-horizontal">
        @*<h4>Daily medical report for @ViewBag.name</h4>*@

        <hr />
        @*pass the id of patient back to create post*@
        <div class="form-group">
            @*@Html.LabelFor(Model => Model.patient.PatientID, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DisplayFor(Model => Model.patient.PatientID)
                @Html.HiddenFor(model => Model.patient.PatientID)
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.HasFallen, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-sm-1">
                @Html.CheckBoxFor(model => model.HasFallen, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HasFallen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Question1, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-lg-5">
                @Html.EnumDropDownListFor(model => model.Question1, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Question1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Question2, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EnumDropDownListFor(model => model.Question2, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Question2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Question3, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EnumDropDownListFor(model => model.Question3, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Question3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Question4, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EnumDropDownListFor(model => model.Question4, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Question4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Question5, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EnumDropDownListFor(model => model.Question5, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Question5, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Question9, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EnumDropDownListFor(model => model.Question9, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Question9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NurseEn, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EnumDropDownListFor(model => model.NurseEn, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NurseEn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Add Report" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("<<Back to Resident's List", "Index", "Patients")
</div>
